configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }

  modi: "drun,run";
  show-icons: true;

  display-drun: "Applications";
}

@theme "/home/caedwil/.config/rofi/theme.rasi"
